<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>                 </title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<form action="#" th:action="@{/save_order}" th:object="${purchaseOrderItems}"
      method="post">
<div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
     role="alert">
  [[${message}]]
  <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>

<div th:if="${items.size() > 0}" >

  <table class="table table-hover table-responsive-xl">
    <thead class="thead-light">
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Item</th>
      <th scope="col">category</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit</th>
      <th scope="col">select</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item : ${items}" var cat ="${item.category.name}">
    <tr th:each="item : ${items}" >
<!--    <tr th:if="${cat}.equal({item.category.name})">-->
<!--      <td>[[${item.category.name}]]</td>}-->
<!--    </tr>-->
      <th scope="row">[[${item.id}]]</th>
      <td ><input type="text" >[[${item.name}]]</input></td>
      <td ><input type="text" >[[${item.category.name}]]</input></td>
      <td><input th:field="*{quantity}"></input></td>
      <td>
        <select th:field="*{unit}">
          <option value="gram">Gram</option>
          <option value="kg">Kg</option>
          <option value="Litter">Litter</option>
          <option value="Pieces" selected>Pieces</option>
        </select>
      </td>
      <td>
        <input type="checkbox" th:field="*{select}" name="horns" />
      </td>

      </tr></tbody></table>
</div>



<input value='Print' type='button' onclick='handlePrint()' />
<div th:replace="fragments/footer1 :: footer"></div>
</form>
</body>
<script type="text/javascript">
         const handlePrint = () => {
            var actContents = document.body.innerHTML;
            document.body.innerHTML = ${purchaseOrderItems};
            window.print();
         }
      </script>
</html>
